html, body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-color: black;
      color: white;
      cursor: '❚' auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

#view {
    transform: scale(0.9);
    width: calc(110vw);
    height: 250px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform-origin: bottom left;
    background-color: white;
}

input:focus {
      outline: none;
      border: none;
      background: black;
}

#userinput {
    width: calc(500vw);
    font-size: 16px;
    height: 15px;
    top: 22.5px;
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#terminalicon {
    margin-left: 5px;
    color: white;
    animation: blink 1.3s infinite;
}

@keyframes blink {
    0% {
        color: white;
    } 50% {
        opacity: 20%;
    } 100% {
        opacity: 100%;
    }
}

#user {
    display: flex;
}

#browser {
    display: none;
    transform: scale(0.9);
    width: calc(110vw);
    height: 200vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform-origin: bottom left;
    background-color: rgba(255, 255, 255, 0);
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}